@import 'abstracts/variables';
@import 'abstracts/fonts';

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  font-size: 20px;
  @media only screen and (max-width: 1024px){
    
  }
  @media only screen and (max-width: $tablet){
    
  }
  @media only screen and (max-width: $tablet){
    
  }
}

body {
  display: flex;
  flex-direction: column;
  background: #a1f0d5;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
}
.main {
  & .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

.main-title {
  font-size: 18px;
}

.kind-coffe {
 list-style-type: none;
}

.coffe-name {
  margin: 1rem 0rem;
}

.coffe-name:hover {
  color: gray;
  text-shadow: darkgray 1px 1px 1px;
}

.cup {
  position: relative;
  width: 15rem;
  height: 15rem;
  background: whitesmoke;
  border-bottom-left-radius: 15rem;
  border-bottom-right-radius: 15rem;
  border: 1px gray solid;
  box-shadow: grey 6px 2px 5px 0px;
  animation: pour 5s linear; 
}

@keyframes pour {
  20% {
    background: linear-gradient(to bottom, whitesmoke 75%, #663e27 76%, #553313 100%);
  };
  30% {
    background: linear-gradient(to bottom, whitesmoke 30%, #f8f8dd 31%, #f8f8dd 72%, #663e27 76%, #553313 100%);
  }
  50% {
    background: linear-gradient(to bottom, #aad2db 29%, #f8f8dd 31%, #f8f8dd 72%, #663e27 76%, #553313 100%);
  }
  100% {
    background: linear-gradient(to bottom, #aad2db 29%, #f8f8dd 31%, #f8f8dd 72%, #663e27 76%, #553313 100%);
  }
}