* {
  box-sizing: border-box;
  font-family: sans-serif; }

:root {
  font-size: 20px;
  /* --first-component:  #553313;
  --second-component: #f8f8dd;
  --third-component: #aad2db;
  --forth-component: white;
  --back-color: whitesmoke;
  --first-comp: 24%;
  --sec-comp: 45%;
  --third-comp: 30%; */
}

body {
  display: flex;
  flex-direction: column;
  background: #a1f0d5; 
  --first-component:  #553313;
  --second-component: #f8f8dd;
  --third-component: #aad2db;
  --forth-component: white;
  --back-color: whitesmoke;
  --first-comp: 24%;
  --sec-comp: 45%;
  --third-comp: 30%;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0px auto; }

.main .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 5%; }

.main-title {
  font-size: 18px; }

.kind-coffe {
  list-style-type: none; }

.coffe-name {
  margin: 1rem 0rem; }

.coffe-name:hover {
  color: gray;
  text-shadow: darkgray 1px 1px 1px; }

.cup {
  position: relative;
  width: 15rem;
  height: 15rem;
  background: var(--back-color);
  border-bottom-left-radius: 15rem;
  border-bottom-right-radius: 15rem;
  border: 1px gray solid;
  box-shadow: grey 6px 2px 5px 0px;
   }

@keyframes pour {
  20% {
    background: linear-gradient(to bottom, whitesmoke calc(100% - var(--first-comp) - 1%), var(--first-component) calc(100% - var(--first-comp)), var(--first-component) 100%); }
  30% {
    background: linear-gradient(to bottom, whitesmoke var(--third-comp), var(--second-component) calc(var(--third-comp) + 1%), var(--second-component) calc(100% - var(--first-comp) - 3%), var(--first-component) calc(100% - var(--first-comp)), var(--first-component) 100%); }
  50% {
    background: linear-gradient(to bottom, var(--third-component) var(--third-comp), var(--second-component) calc(var(--third-comp) + 1%), var(--second-component) calc(100% - var(--first-comp) - 3%), var(--first-component) calc(100% - var(--first-comp)), var(--first-component) 100%); }
  100% {
    background: linear-gradient(to bottom, var(--third-component) var(--third-comp), var(--second-component) calc(var(--third-comp) + 1%), var(--second-component) calc(100% - var(--first-comp) - 3%), var(--first-component) calc(100% - var(--first-comp)), var(--first-component) 100%); }
  }
